<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Role</th>
      <th>Status</th>
      <th>Date Applied</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    @for (application of applications; track application._id) {
      <tr>
        <td>{{ application.company }}</td>
        <td>{{ application.role }}</td>
        <td>{{ application.status }}</td>
        <td>{{ application.dateApplied }}</td>
        <td>
          <button (click)="onEditClick(application)">Edit</button>
        </td>
      </tr>
    }
  </tbody>
</table>